:root {
    --primaryColor: #68217a;
    --secondaryColor: #f4f4f4;
    --bgMenuActive: #8e47a0;
    --bgButton: #68217a;
    --logoImageUrl: url('../../images/shortener.jpeg');
    --bgAside: var(--primaryColor);
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
